{% extends "layout.twig" %}
{% block head %}
    <title> Jobs</title>
{% endblock %}

{% block content %}

<div>
 {{responseMessage}}
</div>
<h1>Add User</h1>
        <form action="/proyectos/user/add" method="post"  >
            <label for="">User:</label>
            <input type="text" name="user" ><br>
            <label for="">Password:</label>
            <input type="password" name="pass"><br>
            <button type="submit">Save</button>
        </form>
{% endblock %}