{% extends "layout.twig" %}
{% block head %}
    <title> Admin</title>
{% endblock %}

{% block content %}
    <h1>Dashbord</h1>
    <ul>
        <li> <a href="/proyectos/user/add">add user</a> </li>
        <li> <a href="/proyectos/jobs/add">add job</a> </li>
        <li> <a href="logout">logout</a> </li>
    </ul>
{% endblock %}